<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>138.17.0.133677</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {576, 733}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2012-11-19 20:45:23 +0000</string>
	<key>Creator</key>
	<string>Denis FABIEN</string>
	<key>DisplayScale</key>
	<string>1.000 cm = 1.000 cm</string>
	<key>GraphDocumentVersion</key>
	<integer>6</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{31.314758, 612.25647}, {518.59467, 40.994141}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Digital-7</string>
				<key>Size</key>
				<real>20</real>
			</dict>
			<key>ID</key>
			<integer>46562</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>9</real>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fnil\fcharset0 Gardener;}
{\colortbl;\red255\green255\blue255;}
\deftab720
\pard\pardeftab720\qc

\f0\fs44 \cf1 Alors, encore une raison de vous priver \
de cet outil pour twitter ?}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{0, 591.27112}, {575.26953, 82.964844}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>46561</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.597198</string>
						<key>g</key>
						<string>0.47877</string>
						<key>r</key>
						<string>0.185071</string>
					</dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>90</real>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>0.857054</string>
						<key>r</key>
						<string>0.467726</string>
					</dict>
					<key>MiddleFraction</key>
					<real>0.7597966194152832</real>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{28.337433, 12.039062}, {518.59467, 98.742188}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Digital-7</string>
				<key>Size</key>
				<real>20</real>
			</dict>
			<key>ID</key>
			<integer>46554</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>9</real>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fnil\fcharset0 PortagoITCTT;\f1\fnil\fcharset0 Gardener;}
{\colortbl;\red255\green255\blue255;\red98\green183\blue217;}
\deftab720
\pard\pardeftab720\qc

\f0\b\fs72 \cf2 \ul \ulc2 Webmaster !
\f1\b0\fs36 \cf1 \ulnone \

\fs44 \

\fs40 Twittez les sitemap et flux rss de vos sites automatiquement avec http://www.misesajour.com}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{202.34766, 164.64062}, {350.53906, 82.964844}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.419636</string>
					<key>g</key>
					<string>0.238504</string>
					<key>r</key>
					<string>0.162201</string>
				</dict>
				<key>Font</key>
				<string>Digital-7</string>
				<key>Size</key>
				<real>20</real>
			</dict>
			<key>ID</key>
			<integer>46549</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Fuzziness</key>
					<real>11.210448265075684</real>
					<key>ShadowVector</key>
					<string>{2, 2}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>9</real>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>3</integer>
				<key>RTFD</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhBJOU0F0dHJpYnV0
				ZWRTdHJpbmcAhIQITlNPYmplY3QAhZKEhIQITlNTdHJp
				bmcBlIQBK4GUAFBvdXIgcXVpID8KVG91cyBsZXMgcHJv
				cHJpw6l0YWlyZXMgZGUgc2l0ZXMgcXVpIHNvdWhhaXRl
				bnQgcmVuZm9yY2VyIGxldXIgcHLDqXNlbmNlIHN1ciB0
				d2l0dGVyLCBldCBxdWkgbWFucXVlbnQgZGUgdGVtcHMg
				cG91ciBsZSBmYWlyZSBhc3NpZMO7bWVudC6GhAJpSQEK
				koSEhAxOU0RpY3Rpb25hcnkAlIQBaQOShJaWB05TQ29s
				b3KGkoSEhAdOU0NvbG9yAJSEAWMChARmZmZmg/LwcD6D
				m5qaPoP8+vo+AYaShJaWEE5TUGFyYWdyYXBoU3R5bGWG
				koSEhBBOU1BhcmFncmFwaFN0eWxlAJSEBENDQFMDAISE
				hAdOU0FycmF5AJSZAIaBAAKEBFsxZl0khpKElpYGTlNG
				b250hpKEhIQGTlNGb250HpSZHIQFWzI4Y10GAAAAEgAA
				AP/+RwBhAHIAZABlAG4AZQByAAAAhAFmGJsAmwGbAJsA
				hoaXAgGShJiZA5KZkpqSnJKdkqGShKOZHKIGAAAAEgAA
				AP/+RwBhAHIAZABlAG4AZQByAAAAowybAJsBmwCbAIaG
				lwOBhgCShJiZA5KZkoSbmwKcg/LwcD6Dm5qaPoP8+vo+
				AYaSnJKEnp4DAJ+BAAKgJIaSoZKEo5kcogYAAAASAAAA
				//5HAGEAcgBkAGUAbgBlAHIAAACjDpsAmwGbAJsAhoaG
				</data>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fnil\fcharset0 Gardener;}
{\colortbl;\red255\green255\blue255;\red41\green61\blue107;}
\deftab720
\pard\pardeftab720\qj

\f0\fs48 \cf2 Pour qui ?
\fs24 \
\pard\pardeftab720\qj

\fs28 \cf2 Tous les propri\'e9taires de sites qui souhaitent renforcer leur pr\'e9sence sur twitter, et qui manquent de temps pour le faire assid\'fbment.}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{73.161865, 173.94336}, {79.130379, 64.359375}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>46553</integer>
			<key>ImageID</key>
			<integer>6</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{34.292053, 457.17969}, {512.64008, 98.742188}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.419636</string>
					<key>g</key>
					<string>0.238504</string>
					<key>r</key>
					<string>0.162201</string>
				</dict>
				<key>Font</key>
				<string>Digital-7</string>
				<key>Size</key>
				<real>20</real>
			</dict>
			<key>ID</key>
			<integer>46551</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Fuzziness</key>
					<real>11.210448265075684</real>
					<key>ShadowVector</key>
					<string>{2, 2}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>9</real>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>3</integer>
				<key>RTFD</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhBJOU0F0dHJpYnV0
				ZWRTdHJpbmcAhIQITlNPYmplY3QAhZKEhIQITlNTdHJp
				bmcBlIQBK4H6AElsIHR3aXR0IHF1b2kgPwpTaSB2b3Vz
				IGF2ZXogdW4gZmx1eCBSU1MsIGwnb3V0aWwgdHdpdHQg
				bGUgdGl0cmUgZGUgdm90cmUgcGFnZSwgYWNjb21wYWdu
				w6kgZCd1biBsaWVuIHZlcnMgY2V0dGUgZGVybmnDqHJl
				LiBQb3VyIGxlIHNpdGUgbWFwLCBpbCBzZSBjb25uZWN0
				ZSDDoCB2b3RyZSBwYWdlIGV0IHLDqWN1cMOpcmUgbGUg
				dGl0bGUgZXQgdHdpdHQgbGUgdGl0bGUgYXZlYyB1biBs
				aWVuIHZlcnMgbGEgcGFnZSBlbiBxdWVzdGlvbi6GhAJp
				SQEPkoSEhAxOU0RpY3Rpb25hcnkAlIQBaQOShJaWB05T
				Q29sb3KGkoSEhAdOU0NvbG9yAJSEAWMChARmZmZmg/Lw
				cD6Dm5qaPoP8+vo+AYaShJaWEE5TUGFyYWdyYXBoU3R5
				bGWGkoSEhBBOU1BhcmFncmFwaFN0eWxlAJSEBENDQFMD
				AISEhAdOU0FycmF5AJSZAIaBAAKEBFsxZl0khpKElpYG
				TlNGb250hpKEhIQGTlNGb250HpSZHIQFWzI4Y10GAAAA
				EgAAAP/+RwBhAHIAZABlAG4AZQByAAAAhAFmGJsAmwGb
				AJsAhoaXAoHmAJKEmJkDkpmShJubApyD8vBwPoObmpo+
				g/z6+j4BhpKckoSengMAn4EAAqAkhpKhkoSjmRyiBgAA
				ABIAAAD//kcAYQByAGQAZQBuAGUAcgAAAKMOmwCbAZsA
				mwCGhoY=
				</data>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fnil\fcharset0 Gardener;}
{\colortbl;\red255\green255\blue255;\red41\green61\blue107;}
\deftab720
\pard\pardeftab720\qj

\f0\fs48 \cf2 Il twitt quoi ?
\fs28 \cf2 \
Si vous avez un flux RSS, l'outil twitt le titre de votre page, accompagn\'e9 d'un lien vers cette derni\'e8re. Pour le site map, il se connecte \'e0 votre page et r\'e9cup\'e9re le title et twitt le title avec un lien vers la page en question.}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{202.34766, 364.82031}, {344.58447, 82.964844}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.419636</string>
					<key>g</key>
					<string>0.238504</string>
					<key>r</key>
					<string>0.162201</string>
				</dict>
				<key>Font</key>
				<string>Digital-7</string>
				<key>Size</key>
				<real>20</real>
			</dict>
			<key>ID</key>
			<integer>46550</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Fuzziness</key>
					<real>11.210448265075684</real>
					<key>ShadowVector</key>
					<string>{2, 2}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>9</real>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>3</integer>
				<key>RTFD</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhBJOU0F0dHJpYnV0
				ZWRTdHJpbmcAhIQITlNPYmplY3QAhZKEhIQITlNTdHJp
				bmcBlIQBK4GVAENvbW1lbnQgw6dhIGZvbmN0aW9ubmUg
				PwpWb3VzIHByb2dyYW1tZXogbGEgZnLDqXF1ZW5jZSwg
				ZXQgdG91cyBsZXMgam91cnMsIMOgIGRlcyBoZXVyZXMg
				YWzDqWF0b2lyZSwgTWlzZXNham91ci5jb20gdHdpdHQg
				cG91ciB2b3VzIHN1ciB2b3RyZSBjb21wdGUuhoQCaUkB
				F5KEhIQMTlNEaWN0aW9uYXJ5AJSEAWkDkoSWlgdOU0Nv
				bG9yhpKEhIQHTlNDb2xvcgCUhAFjAoQEZmZmZoPy8HA+
				g5uamj6D/Pr6PgGGkoSWlhBOU1BhcmFncmFwaFN0eWxl
				hpKEhIQQTlNQYXJhZ3JhcGhTdHlsZQCUhARDQ0BTAwCE
				hIQHTlNBcnJheQCUmQCGgQAChARbMWZdJIaShJaWBk5T
				Rm9udIaShISEBk5TRm9udB6UmRyEBVsyOGNdBgAAABIA
				AAD//kcAYQByAGQAZQBuAGUAcgAAAIQBZhibAJsBmwCb
				AIaGlwJ6koSYmQOSmZKEm5sCnIPy8HA+g5uamj6D/Pr6
				PgGGkpyShJ6eAwCfgQACoCSGkqGShKOZHKIGAAAAEgAA
				AP/+RwBhAHIAZABlAG4AZQByAAAAow6bAJsBmwCbAIaG
				hg==
				</data>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fnil\fcharset0 Gardener;}
{\colortbl;\red255\green255\blue255;\red41\green61\blue107;}
\deftab720
\pard\pardeftab720\qj

\f0\fs48 \cf2 Comment \'e7a fonctionne ?
\fs28 \cf2 \
Vous programmez la fr\'e9quence, et tous les jours, \'e0 des heures al\'e9atoire, Misesajour.com twitt pour vous sur votre compte.}</string>
			</dict>
			<key>TextPlacement</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{29.214844, 263.64062}, {350.53906, 82.964844}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.419636</string>
					<key>g</key>
					<string>0.238504</string>
					<key>r</key>
					<string>0.162201</string>
				</dict>
				<key>Font</key>
				<string>Digital-7</string>
				<key>Size</key>
				<real>20</real>
			</dict>
			<key>ID</key>
			<integer>46548</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Fuzziness</key>
					<real>11.210448265075684</real>
					<key>ShadowVector</key>
					<string>{2, 2}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>9</real>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>3</integer>
				<key>RTFD</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhBJOU0F0dHJpYnV0
				ZWRTdHJpbmcAhIQITlNPYmplY3QAhZKEhIQITlNTdHJp
				bmcBlIQBK3BDJ2VzdCBxdW9pID8KVW4gb3V0aWwgZW4g
				bGlnbmUgcXVpIGRpZmZ1c2Ugc3VyIHR3aXR0ZXIgw6Ag
				bGEgcGxhY2UgZGUgbCdodW1haW4sIGxlcyBSU1MgZXQg
				U2l0ZW1hcCBkZSB2b3Mgc2l0ZXMuhoQCaUkBDJKEhIQM
				TlNEaWN0aW9uYXJ5AJSEAWkDkoSWlgdOU0NvbG9yhpKE
				hIQHTlNDb2xvcgCUhAFjAoQEZmZmZoPy8HA+g5uamj6D
				/Pr6PgGGkoSWlhBOU1BhcmFncmFwaFN0eWxlhpKEhIQQ
				TlNQYXJhZ3JhcGhTdHlsZQCUhARDQ0BTAwCEhIQHTlNB
				cnJheQCUmQCGgQAChARbMWZdJIaShJaWBk5TRm9udIaS
				hISEBk5TRm9udB6UmRyEBVsyOGNdBgAAABIAAAD//kcA
				YQByAGQAZQBuAGUAcgAAAIQBZhibAJsBmwCbAIaGlwJj
				koSYmQOSmZKEm5sCnIPy8HA+g5uamj6D/Pr6PgGGkpyS
				hJ6eAwCfgQACoCSGkqGShKOZHKIGAAAAEgAAAP/+RwBh
				AHIAZABlAG4AZQByAAAAow6bAJsBmwCbAIaGhg==
				</data>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fnil\fcharset0 Gardener;}
{\colortbl;\red255\green255\blue255;\red41\green61\blue107;}
\deftab720
\pard\pardeftab720\qj

\f0\fs48 \cf2 C'est quoi ?
\fs28 \cf2 \
Un outil en ligne qui diffuse sur twitter \'e0 la place de l'humain, les RSS et Sitemap de vos sites.}</string>
			</dict>
			<key>TextPlacement</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{480.64197, 280.31531}, {66.290154, 66.290154}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>46559</integer>
					<key>ImageID</key>
					<integer>3</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{427.94299, 263.64062}, {66.290154, 64.359375}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>46560</integer>
					<key>ImageID</key>
					<integer>5</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>46558</integer>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{34.292053, 390.77499}, {156.87, 31.055481}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>46545</integer>
			<key>ImageID</key>
			<integer>2</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>TextRotation</key>
			<real>20</real>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{0, 67.640625}, {575.26953, 64.359375}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>46552</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.597198</string>
						<key>g</key>
						<string>0.47877</string>
						<key>r</key>
						<string>0.185071</string>
					</dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>90</real>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>0.857054</string>
						<key>r</key>
						<string>0.467726</string>
					</dict>
					<key>MiddleFraction</key>
					<real>0.7597966194152832</real>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>7</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image6.png</string>
		<string>image5.png</string>
		<string>image3.png</string>
		<string>image2.png</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Calque 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2012-11-21 02:12:48 +0000</string>
	<key>Modifier</key>
	<string>Denis FABIEN</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{612, 792}</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canevas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array/>
		<key>Frame</key>
		<string>{{627, 114}, {771, 935}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{-30, -23}, {636, 780}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canevas 1</string>
				<real>1</real>
				<real>1</real>
			</array>
		</array>
	</dict>
	<key>saveQuickLookFiles</key>
	<string>YES</string>
</dict>
</plist>
