.footer
  %footer
    / bottom about
    .bottom_about
      %p
        %img{:alt => "", :src => "/assets/logo.png"}/
      %p At vero eos et accusaus et iusto unir un dignissimos ducimus quirds siter ters pi blranditiis praesentium amets voluptatum un deleniti atque corrupti quosdirs dolores etra quasir moltias unstw excepturi sinte amets occaecatires.
    / /bottom about
    / recent tweets
    .recent_tweets
      %h3
        %span Recent Tweets
      %ul
        %li
          %a{:href => "#"} @laurakalbag
          I will be very soon. Ase result reco endation
          %a{:href => "#"} 31 minutes ago
        %li
          %a{:href => "#"} @laurakalbag
          you got chocolates!? That's i I'm signing up.
          %a{:href => "#"} 37 minutes ago
    / /recent tweets
    / recent posts
    .recent_posts
      %h3
        %span Recent Posts
      %ul
        %li
          %a{:href => "#"} Lorem ipsum dolo amet consecect
        %li
          %a{:href => "#"} Sed laoreet neque nonte mauris
        %li
          %a{:href => "#"} Metus lacus, porta vestibulum
        %li
          %a{:href => "#"} Morbi ac magna est ornare eliticits
        %li
          %a{:href => "#"} Voluptas sadips nemis un etras
    / /recent posts
    / subscribe block
    .subscribe_block
      %h3
        %span Stay Connected
      %form{:action => "#", :method => "post"}
        %p
          %input#name{:type => "text", :value => "NAME ..."}/
        %p
          %input#email{:type => "text", :value => "EMAIL ..."}/
        %p
          %input{:type => "submit", :value => "Subscribe"}/
    / /subscribe block